services:
  backend:
    image: ghcr.io/ionutbalutoiu/files-browser-backend:${BACKEND_IMAGE_TAG:-latest}
    container_name: files-backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      # Files
      - ./files:/storage/files
      - ./files-public:/storage/files-public
    environment:
      FILES_SVC_BASE_DIR: /storage/files
      FILES_SVC_PUBLIC_BASE_DIR: /storage/files-public
    networks:
      - files-browser-net

  frontend:
    image: ghcr.io/ionutbalutoiu/files-browser-frontend:${FRONTEND_IMAGE_TAG:-latest}
    container_name: files-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "3000:3000"
      - "3010:3010"
    volumes:
      # Files
      - ./files:/storage/files
      - ./files-public:/storage/files-public
    environment:
      INTERNAL_LISTEN: "3000"
      INTERNAL_SERVER_NAME: "_"
      INTERNAL_API_BASE_PATH: http://files-backend:8080
      PUBLIC_LISTEN: "3010"
      PUBLIC_SERVER_NAME: "_"
      PUBLIC_BASE_URL: http://localhost:3010
    networks:
      - files-browser-net

  frontend-react:
    image: ghcr.io/ionutbalutoiu/files-browser-frontend-react:${FRONTEND_REACT_IMAGE_TAG:-latest}
    container_name: files-frontend-react
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "4000:4000"
      - "4010:4010"
    volumes:
      # Files
      - ./files:/storage/files
      - ./files-public:/storage/files-public
    environment:
      INTERNAL_LISTEN: "4000"
      INTERNAL_SERVER_NAME: "_"
      INTERNAL_API_BASE_PATH: http://files-backend:8080
      PUBLIC_LISTEN: "4010"
      PUBLIC_SERVER_NAME: "_"
      PUBLIC_BASE_URL: http://localhost:4010
    networks:
      - files-browser-net

networks:
  files-browser-net:
    driver: bridge
